{%load static%}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Çavuşoğlu Yağ</title>
     <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'/>



  <body>
    <!--header section start-->
    <header class ="header">
        <a href = "#" class="logo">
            <img src="{%static 'images/image3.jpeg' %}" alt="image"  />
        </a>
        <nav class="navbar">
            <a href="#" class="active" >Anasayfa</a>
            <a href="#">Çavuşoğlu Yağ</a>
            <a href="#">Müşterilerimiz</a>
            <a href="#">Ürünlerimiz</a>
            <a href="#">İletişim</a>
        </nav>
        <div class="buttons">
            <button>
                <i class ="fas fa-search"></i>
            </button>
             <button>
                <i class ="fas fa-shopping-cart"></i>
            </button>
             <button>
                <i class ="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <!--! header section end -->

     <!--! home section start -->
        <section class = "home">
            <div class= "content">
                <h3> ÇAVUŞOĞLU YAĞ </h3>
            <p> VİZYONUMUZ
        Faaliyet gösterdiğimiz pazarlarda tercih edilen ürünlerimiz ile tüm tüketicilerimizi, 
        müşterilerimizi, çalışanlarımızı ve hissedarlarımızı mutlu eden, kalitesiyle lider 
        global gıda şirketi olmak.</p>
        <a href= "#" class = "btn">Vizyon ve Misyon</a>
            </div>
            </section>
    
      <!--! home section end -->
</body>
</html>
